// COLORS

// - Very Dark Grayish Blue
$vd-grayblue: hsl(217, 19%, 35%);
// - Desaturated Dark Blue
$darkblue: hsl(214, 17%, 51%);
// - Grayish Blue
$grayblue: hsl(212, 23%, 69%);
// - Light Grayish Blue (background)
$l-grayblue: hsl(210, 46%, 95%);

// FONTS

@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: Manrope-semibold;
    src: url(fonts/Manrope-SemiBold.ttf);
}

body {
    font-family: Manrope;
    font-size: 13px;
    font-weight: 500;
    padding: 15% 7% 10% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $l-grayblue;
    color: $vd-grayblue;
}

main {
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.drawers {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
    object-position: 0 20%;
    
}

.text {
    h1 {
        font-family: Manrope-semibold;
        font-size: .95rem;
        padding: 30px 30px 0 30px;
        margin: 0;
    }
    
    p {
        font-size: .84rem;
        padding: 15px 30px;
        margin: 0;
        line-height: 1.3rem;
    }
}

.share {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 11px 30px;
    background-color: $vd-grayblue;
    border-radius: 0 0 10px 10px;
    color: $grayblue;
    letter-spacing: 5px;
    min-height: 51px;

    .share-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        p, img {
            padding-right: 10px;
        }
    }

    .share-button {
        background-color: $darkblue;
        padding: 7.7px 8.5px;
        border-radius: 17.5px;

        img {
            width: 18px;
        }
    }
}

.profile { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 30px 11px 30px;
    transition: all, .5s;
    max-height: 100px;

    .profile-main {
        display: flex;
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }

        h5 {
            font-size: .84rem;
            margin: 5px 20px;
        }

        p {
            margin: 5px 20px;
        }
    
    }

    .share-button {
        background-color: $l-grayblue;
        padding: 7.7px 8.5px;
        border-radius: 17.5px;

        img {
            width: 18px;
        }
    }
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 20px;

}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 630px)  {

    body {
        align-items: center;
        justify-content: center;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .drawers {
        border-radius: 10px 0 0 10px;
        height: 50%;
    }

    
}