@font-face {
  font-family: Manrope;
  src: url(fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: Manrope-semibold;
  src: url(fonts/Manrope-SemiBold.ttf);
}
body {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 500;
  padding: 15% 7% 10% 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ecf2f8;
  color: #48556a;
}

main {
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.drawers {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
  object-position: 0 20%;
}

.text h1 {
  font-family: Manrope-semibold;
  font-size: 0.95rem;
  padding: 30px 30px 0 30px;
  margin: 0;
}
.text p {
  font-size: 0.84rem;
  padding: 15px 30px;
  margin: 0;
  line-height: 1.3rem;
}

.share {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 11px 30px;
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
  color: #9eafc2;
  letter-spacing: 5px;
  min-height: 51px;
}
.share .share-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share .share-icons p,
.share .share-icons img {
  padding-right: 10px;
}

.share-button {
  background-color: #6d7f97;
  padding: 7.7px 8.5px;
  border-radius: 17.5px;
}
.share-button img {
  width: 18px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 30px 11px 30px;
  transition: all, 0.5s;
  max-height: 100px;
}
.profile .profile-main {
  display: flex;
  align-items: center;
}
.profile .profile-main .avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.profile .profile-main h5 {
  font-size: 0.84rem;
  margin: 5px 20px;
}
.profile .profile-main p {
  margin: 5px 20px;
}

.profile-button {
  background-color: #ecf2f8;
  padding: 7.7px 8.5px;
  border-radius: 17.5px;
}
.profile-button img {
  width: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 800px) {
  html {
    height: 100%;
  }

  body {
    align-items: center;
    justify-content: space-evenly;
    padding: 150px 100px 100px 100px;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 730px;
    height: 300px;
  }

  .drawers {
    border-radius: 10px 0 0 10px;
    height: 300px;
    width: 300px;
    object-position: 0 10%;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
  }

  .text h1 {
    font-size: 1.1rem;
    padding: 0;
  }
  .text p {
    padding: 20px 0;
  }

  .profile {
    padding: 0;
  }
  .profile .share-button {
    padding: 7.7px 8.5px;
  }

  .share {
    display: none;
    justify-content: center;
    position: absolute;
    bottom: 110px;
    left: 252px;
    height: 30px;
    width: 240px;
    padding: 0;
    border-radius: 10px;
  }

  .share:after {
    content: "";
    position: absolute;
    top: 45px;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #48556a;
  }

  #share-button {
    display: none;
  }

  #pinterest {
    padding: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
